
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar-track {
  width: 4px;
  background: #ff790030;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  width: 4px;
  background: #ff7900;
  border-radius: 20px;
}
